[flake8]
count = true

# 100, but some leeway for black.
max_line_length = 105
show_source = False
statistics = False

accept-encodings = utf-8
docstring-convention = numpy

ignore =
    E203

per-file-ignores = 
    **/__init__.py: F401, F403